
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script src="https://use.fontawesome.com/99ba5fce52.js"></script>

    <title>The Vote-tastic Voting Machine</title>

    <!-- Styles for polls page -->
    <link rel="stylesheet" href="../stylesheets/pollsStyle.css">
  </head>

  <body>
    <!-- HEADER AND NAV -->
    <header>
      <h1>Vote-tastic Voting Machine</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/polls">Polls</a></li>
          <li><a href="/signin">Signin</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </nav>
    </header>
    <section id="newPollButton">
      <a href="polls/add"><i class="fa fa-plus"></i> New Poll</a>
    </section>
    <!-- EXISTING POLLS -->
    <main id="mainBody"></main>
    <footer>
      <p>&copy; 2017 Matt Leonard</p>
    </footer>
    <script type="text/javascript" src="/javascripts/polls.js"></script>
  </body>
</html>
